:root {
  --color-prymari-dark: #31261a;
  --color-prymari-light: #faf4ea;
  --color-secomdary-dark: #a28268;
  --color-brand-dark: #465929;
  --color-brand-normal: #819b57;
  --color-brand-light: #cfcfbc;
}
